/* Billede på forsiden */

img {
  display: block;
  margin: 1% auto 6% 40%;
  width: 650px;
  height: auto;
}

.image-container {
  position: relative;
  width: 100%;
  z-index: 1;
}

.overlay-text {
  position: absolute;
  top: 17%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "urbanist";
}

.overlay-text h1 {
  font-size: 9em;
  margin-bottom: 10px;
  color: rgb(146, 160, 141);
  font-family: "urbanist";
}

.overlay-text h2 {
  font-size: 4em;
  color: rgb(80, 64, 64);
  margin-bottom: 10px;
}

h2 {
  font-family: "urbanist";
}
@media only screen and (max-width: 800px) {
  .overlay-text {
    font-size: 0.5em;
    top: 20%;
    left: 40%;
  }
  img {
    width: 450px;
  }

  h2 {
    font-family: "urbanist";
    font-size: 2em;
  }
}
