/* computerskærm */

@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
  }

  .icon {
    margin-left: 3%;
  }

  .projekter {
    width: 90%;
    aspect-ratio: 1/1.3;
    padding: 1%;
    margin: 5%;
    text-align: center;
  }

  /* drop down */
  summary {
    color: rgb(146, 160, 141);
    font-family: "urbanist";
    text-align: center;
    margin-bottom: 5%;
    margin-top: 7%;
    margin-left: 10%;
    font-size: 1em;
  }

  h2 {
    margin-top: 0%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: rgb(146, 160, 141);
    font-family: "urbanist";
  }

  h6 {
    font-size: 2.5em;
    color: rgb(80, 64, 64);
    font-family: "urbanist";
    text-align: left;
  }

  .overlay-text {
    position: relative;
    top: -80%;
    left: 85%;
    margin-left: 5%;
    margin-right: 5%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-family: "urbanist";
  }
}

@media only screen and (max-width: 800px) {
  .icon {
    height: 60px;
    width: 90px;
    margin-left: 3%;
  }

  .imgs {
    display: block;
    margin: 1% auto;
    max-width: 90%;
    height: auto;
  }

  .cover-container {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 200px; /* Ændret fast højde til procent eller vh efter behov */
  }

  .projekter {
    width: 60%;
    aspect-ratio: 1/1.3;
    padding: 1%;
    margin: 5%;
    margin-left: 20%;
    text-align: center;
    align-items: center;
  }

  h2 {
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: rgb(146, 160, 141);
    font-family: "urbanist";
    font-size: 35px;
  }

  h6 {
    font-size: 1.3em;
    color: rgb(80, 64, 64);
    font-family: "urbanist";
    text-align: center;
  }

  summary {
    color: rgb(146, 160, 141);
    font-family: "urbanist";
    text-align: center;
    font-size: 2em;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10%;
  }

  .overlay-text {
    position: relative;
    top: -70%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-family: "urbanist";
  }
}

/* coverbillede*/

.cover-container {
  position: relative;
  z-index: 0;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 400px;
  margin-left: -25%;
}

.imgs {
  display: block;
  margin: 1% auto;
  width: 800px;
  height: auto;
  opacity: 0.5;
  transform: rotate(180deg);
}

.image-container {
  position: relative;
  width: 100%;
}

.projekter:hover {
  transform: scale(1.04);
}

a {
  text-decoration: none;
}

.grid_1-1-1-1 img {
  margin-top: 25%;
  height: 140px;
  width: 180px;
}

.gen_web {
  border: 2px solid rgb(221, 233, 217);
  margin-top: 10%;
}

.gen_ui {
  border: 2px solid rgb(221, 233, 217);
  margin-top: 10%;
}

.gen_ani {
  border: 2px solid rgb(221, 233, 217);
  margin-top: 10%;
}

.gen_ind {
  border: 2px solid rgb(221, 233, 217);
  margin-top: 10%;
}

/* Tekst */

h3 {
  margin-right: 1%;
  margin-left: 1%;
  color: rgb(80, 64, 64);
  font-family: "urbanist";
  font-size: 1.5em;
  align-items: center;
  line-height: 1.5;
}

h4 {
  margin-right: 2.5%;
  margin-left: 2.5%;
  color: rgb(80, 64, 64);
  font-family: "urbanist";
}

h5 {
  margin-top: 50%;
  margin-right: 4%;
  margin-left: 4%;
  color: rgb(146, 160, 141);
  font-family: "urbanist";
  font-size: 2em;
  align-items: center;
}

p {
  margin-right: 10%;
  margin-left: 10%;
  color: rgb(80, 64, 64);
  font-family: "urbanist";
}

/* box og border */

.border:hover {
  transform: scale(1.04);
}

.box {
  background-color: rgb(232, 239, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(232, 239, 230);
  text-align: center;
  margin-right: 4%;
  margin-left: 4%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.border2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(221, 233, 217);
  text-align: center;
  margin-right: 4%;
  margin-left: 4%;
  margin-top: 1.5%;
  margin-bottom: 4%;
}
